html, body {
    font-family: 'Roboto', sans-serif;
    background-color: #eeeeee;
}

address {
    background-color: #b71c1c;
    color: #ffebee;
    padding: 8px;
    margin-bottom: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
address div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
address div.container div {
    margin-left: auto;
}
address div > div {
    display: inline-block;
}
address div > div a {
    color: inherit;
    text-decoration: none;
}
address div > div i {
    margin-left: 12px;
    margin-right: 4px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
}
header img {
    width: 220px;
}
header h1 {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
}

section.contact {
    background-color: #bdbdbd;
    margin-bottom: 12px;
}
section.contact div.container {
    background-color: #212121;
    background-image: url(../images/imagem.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
}
section.contact div.container > form {
    background-color: rgba(189, 189, 189, 0.85);
    margin-left: auto;
    height: 100%;
}
section.contact div.container > form > h2 {
    border-top: 2px solid #b71c1c;
    color: #212121;
    font-size: 28px;
    text-align: center;
    padding: 8px;
}
section.contact div.container > form > h2 strong {
    display: block;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}
section.contact div.container form > div {
    display: grid;
    grid-gap: 8px 8px;
    padding: 8px;
}
section.contact div.container form > div :nth-child(odd) {
    grid-column: 1 / 2;
}
section.contact div.container form > div :nth-child(even) {
    grid-column: 2 / 3;
}
.double {
    grid-column: 1 / 3!important;
}

.field {
    display: flex;
    flex-direction: column-reverse;
}
.field label {
    position: relative;
    top: 0;
    left: 0;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    padding-left: 8px;
    margin-bottom: 2px;
    transition: top 225ms, opacity 225ms;
}
.field input, .field textarea {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(250, 250, 250, 0.85);
    border: none;
    outline: none;
    font-size: 18px;
    padding: 6px;
    border-radius: 8px;
    transition: background-color 225ms;
    resize: none;
}
.field input:placeholder-shown + label, .field textarea:placeholder-shown + label {
    top: 16px;
    opacity: 0%;
}
.field label:hover {
    cursor: text;
}
.field input:hover, .field textarea:hover {
    background-color: rgb(255, 255, 255);
}
.field input:focus, .field textarea:focus {
    box-shadow: 0 0 3px rgb(0, 0, 0);
}
.submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 32px;
}
.submit input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.check {
    display: flex;
    position: relative;
    align-items: center;
    padding-top: 6px;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 8px;
    background-color: rgba(250, 250, 250, 0.85);
    transition: all 225ms;
}
.check:hover input ~ .checkmark {
    background-color: rgba(250, 250, 250, 0.85);
}
.check input:checked ~ .checkmark {
    background-color: #b71c1c;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.check input:checked ~ .checkmark:after {
    display: block;
}
.check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.submit input[type="submit"] {
    margin-left: auto;
    color: #fafafa;
    background-color: #b71c1c;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 8px 16px 8px 16px;
    border-radius: 16px;
    transition: background-color 225ms;
}
.submit input[type="submit"]:hover {
    background-color: #e53935;
    cursor: pointer;
}
.submit input[type="submit"]:focus {
    background-color: #e53935;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

section.container.infos {
    display: grid;
    grid-gap: 16px 32px;
    margin-top: 32px;
    margin-bottom: 16px;
}
section.container.infos > section {
    grid-column: 1 / 2;
}
section.container.infos > div {
    display: grid;
    grid-gap: 16px 32px;
    grid-column: 2 / 4;
}
section.container.infos > div :nth-child(odd) {
    grid-column: 1 / 2;
}
section.container.infos > div :nth-child(even) {
    grid-column: 2 / 3;
}

section.container.people {
    margin-top: 32px;
    margin-bottom: 16px;
}
section.container.people > div, section.container.prices > div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
section.container.people > div div.card, section.container.prices > div div.card {
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
    margin: 16px;
    width: 100%;
    height: 360px;
    text-align: center;
}
section.container.people > div div.card h5 {
    color: #b71c1c;
    font-size: 22px;
    font-weight: 300;
}
section.container.people > div div.card img {
    position: relative;
    top: -20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
section.container.people > div div.card a {
    background-color: #858585;
    color: #fafafa;
    display: inline-block;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 18px;
    width: fit-content;
    transition: background-color 75ms;
}
section.container.people > div div.card a:hover {
    background-color: #b71c1c;
}

section.container.prices > div div.card {
    border: 1px solid #bdbdbd;
    height: fit-content!important;
}
section.container.prices > div h5 {
    background-color: #b71c1c;
    color: #fafafa;
    font-weight: 300;
    font-size: 18px;
    padding: 12px 0px;
}
section.container.prices > div h6 {
    background-color: #858585;
    color: #fafafa;
    font-weight: 500;
    font-size: 48px;
    font-style: italic;
    padding: 18px 0px;
    margin-bottom: 18px;
}
section.container.prices > div h6 small {
    font-size: 28px;
    margin-left: 4px;
    font-weight: 300;
    vertical-align: top;
}
section.container.prices > div ul li {
    padding: 12px 0px;
    font-weight: 300;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
    width: 90%;
    border-bottom: 1px solid #bdbdbd;
}
section.container.prices > div a {
    text-transform: uppercase;
    text-decoration: none;
    background-color: #535353;
    color: #fafafa;
    font-size: 18px;
    font-weight: 500;
    padding: 16px 0px;
    transition: background-color 75ms;
}
section.container.prices > div a:hover {
    background-color: #b71c1c;
}

section.more-info {
    background-color: #fff;
    border-top: 2px solid #bdbdbd;
    margin-top: 18px;
    padding-bottom: 50px;
}
section.more-info div.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
section.more-info div.container > div {
    margin-top: 18px;
    width: 100%;
}
section.more-info div.container > div h5 {
    color: #b71c1c;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 12px;
}
section.more-info div.container div.video iframe {
    height: 230px;
    width: 100%;
}

.comments .comment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 8px 8px;
}
.comments .comment img {
    height: 80px;
    width: 80px;
}
.comments .comment div {
    border: 1px solid #bdbdbd;
    font-size: 12px;
    font-weight: 300;
    padding: 8px;
    margin: 8px;
}
.comments .comment-paginator {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
}
.comments .comment-paginator a {
    background-color: #858585;
    color: #fafafa;
    padding: 4px 8px;
    margin-left: 4px;
    text-decoration: none;
}
.comments .comment-paginator a:hover {
    background-color: #b71c1c;
}
.image img {
    width: 100%;
}

.newsletter {
    background-color: #b71c1c;
    color: #fafafa;
}
.newsletter > div.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 0px;
}
.newsletter > div.container h6, .newsletter > div.container div {
    margin-bottom: 8px;
}
.newsletter-form > form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.newsletter-form > form input {
    background-color: #eeeeee;
    font-size: 18px;
    margin: 4px;
    padding: 8px;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
}
.newsletter-form > form input:hover, .newsletter-form > form input:focus {
    background-color: #ffffff;
    outline: none;
}
.newsletter-form > form input[type="submit"] {
    text-transform: uppercase;
    cursor: pointer;
}

footer {
    background-color: #721212;
    color: #fafafa;
}
footer > div.container {
    display: flex;
    flex-direction: row;
    padding: 24px 0px;
}
footer a {
    transition: color 125ms;
    color: #ffbdbd;
    text-decoration: none;
}
footer a:hover {
    color: #ffacac;
}
.social {
    margin-left: auto;
}
.social a {
    font-size: 24px;
}

section h3 {
    color: #b71c1c;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 12px;
}
section h3 i {
    color: #fafafa;
    background-color: #b71c1c;
    padding: 2px 6px;
    margin-right: 3px;
}
section p {
    margin-top: 16px;
    padding: 0px 8px;
    text-overflow: ellipsis;
}
p a {
    color: #b71c1c;
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media screen and (min-width: 0px) and (max-width: 576px) {
    address h4 { display: none; }
    header { flex-direction: column; }
    header h1 { margin-right: auto; margin-top: 6px; }
    section.container.infos, section.container.infos > div, section.contact div.container form > div {
        display: flex;
        flex-direction: column;
    }
    section h3, section p {
        padding-right: 8px;
        padding-left: 8px;
    }
    section.container.people > div, section.container.prices > div {
        flex-direction: column;
        padding-left: 16px;
        padding-right: 16px;
    }
    section.container.people > div div.card, section.container.prices > div div.card {
        margin-left: 0;
        margin-right: 0;
    }
    section.more-info div.container {
        flex-direction: column;
    }
    section.more-info div.container > div h5 {
        padding-left: 8px;
        padding-right: 8px;
    }
    footer > div.container {
        text-align: center;
        flex-direction: column;
    }
    .social {
        margin-top: 20px;
        margin-right: auto;
    }
    .newsletter-form > form {
        flex-direction: column;
    }
    .newsletter-form > form input {
        margin-top: 4px;
        margin-bottom: 4px;
    }
    .newsletter-form > form input[type="submit"] {
        margin-top: 4px;
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    address h4 { display: none; }
    address div { margin-right: auto; }
    header { flex-direction: column; }
    header h1 { margin-right: auto; margin-top: 6px; }
    section.container.infos, section.container.infos > div, section.contact div.container form > div {
        display: flex;
        flex-direction: column;
    }
    section.container.people > div {
        flex-direction: column;
        padding-left: 16px;
        padding-right: 16px;
    }
    section.container.people > div div.card {
        margin-left: 0;
        margin-right: 0;
    }
    section.more-info div.container {
        flex-direction: column;
    }
    footer > div.container {
        text-align: center;
        flex-direction: column;
    }
    .social {
        margin-top: 20px;
        margin-right: auto;
    }
    .newsletter-form > form {
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .container {
        width: 720px;
    }
    section.contact div.container form { width: 80%; }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .container {
        width: 	960px;
    }
    section.contact div.container form { width: 70%; }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .container {
        width: 1140px;
    }
    section.contact div.container form { width: 60%; }
}

@media screen and (min-width: 1400px) {
    .container {
        width: 1320px;
    }
    section.contact div.container form { width: 50%; }
}